<%= form_for(@hcm) do |f| %>
  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@hcm.institution}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@hcm.ope}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:city) %>
    <%= f.text_field :city, 
      { value: "#{@hcm.city}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:state) %>
    <%= f.select(:state, 
      options_for_select(DS_ENUM::State.get_as_options, 
      selected: @hcm.state), 
      { include_blank: "Select a state" },
      { class: "form-control", required: false }) %>
  </div>

  <div class="form-group">
    <%= f.label(:monitor_method) %>
    <%= f.text_field :monitor_method, 
      { value: "#{@hcm.monitor_method}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:reason) %>
    <%= f.text_field :reason, 
      { value: "#{@hcm.reason}", class: "form-control", required: true } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>