<%= form_for(@hcm) do |f| %>
  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@hcm.ope}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@hcm.institution}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:hcm_type) %>
    <%= f.text_field :hcm_type, 
      { value: "#{@hcm.hcm_type}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:hcm_reason) %>
    <%= f.text_field :hcm_reason, 
      { value: "#{@hcm.hcm_reason}", class: "form-control", required: true } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>