<tr>
	<td><%= settlement.id %></td>
  <td><%= settlement.institution %></td>
  <td><%= settlement.cross %></td>
  <td><%= settlement.settlement_description %></td>
  <td>
    <%= link_to 'Show', settlement %>
  </td>
    <td>
    <%= link_to 'Edit', edit_settlement_path(settlement) %>
  </td>
  <td>
  	<%= link_to 'Remove', settlement, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>