<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>Settlement: <%= @settlement.institution %></small></h2>
  
<div class="row">
  <div class="col-xs-3">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @settlement.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Institution: </strong>
  </div>
  <div class="col-xs-8">
    <%= @settlement.institution %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>IPEDS: </strong>
  </div>
  <div class="col-xs-8">
    <%= @settlement.cross %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Settlement Description: </strong>
  </div>
  <div class="col-xs-8">
    <%= @settlement.settlement_description %>
  </div>
</div>
