<%= form_for(@weam) do |f| %>
  <div class="form-group">
    <%= f.label(:facility_code) %>
    <%= f.text_field :facility_code, 
      { value: "#{@weam.facility_code}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@weam.institution}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:city) %>
    <%= f.text_field :city, 
      { value: "#{@weam.city}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:state) %>
    <%= f.text_field :state, 
      { value: "#{@weam.state}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:zip) %>
    <%= f.text_field :zip, 
      { value: "#{@weam.zip}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:country) %>
    <%= f.text_field :country, 
      { value: "#{@weam.country}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:bah) %>
    <%= f.text_field :bah, 
      { value: "#{@weam.bah}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:accredited) %>
    <%= f.select(:accredited, options_for_select([['Yes', 'Y'], ['No', 'N']], 
      selected: @weam.accredited), 
      { include_blank: "Select Yes or No" },
      { class: "form-control", required: false }) %>
  </div>

  <div class="form-group">
    <%= f.label(:poe) %>
    <%= f.select(:poe, options_for_select([['Yes', 'Y'], ['No', 'N']], 
      selected: @weam.poe), 
      { include_blank: "Select Yes or No" },
      { class: "form-control", required: false }) %>
  </div>

  <div class="form-group">
    <%= f.label(:yr) %>
    <%= f.select(:yr, options_for_select([['Yes', 'Y'], ['No', 'N']], 
      selected: @weam.yr), 
      { include_blank: "Select Yes or No" },
      { class: "form-control", required: false }) %>
  </div>

  <div class="form-group">
    <%= f.label(:ojt_indicator) %>
    <%= f.select(:ojt_indicator, options_for_select([['Yes', 'Yes'], ['No', 'No']], 
      selected: @weam.ojt_indicator), 
      { include_blank: "Select Yes or No" },
      { class: "form-control", required: false }) %>
  </div>

    <div class="form-group">
    <%= f.label(:correspondence_indicator) %>
    <%= f.select(:correspondence_indicator, options_for_select([['Yes', 'Yes'], ['No', 'No']], 
      selected: @weam.correspondence_indicator), 
      { include_blank: "Select Yes or No" },
      { class: "form-control", required: false }) %>
  </div>

    <div class="form-group">
    <%= f.label(:flight_indicator) %>
    <%= f.select(:flight_indicator, options_for_select([['Yes', 'Yes'], ['No', 'No']], 
      selected: @weam.flight_indicator), 
      { include_blank: "Select Yes or No" },
      { class: "form-control", required: false }) %>
  </div>
  
  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>