<%= form_for(@ipeds_ic_ay) do |f| %>
  <div class="form-group">
    <%= f.label(:cross) %>
    <%= f.text_field :cross, 
      { value: "#{@ipeds_ic_ay.cross}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:chg2ay3) %>
    <%= f.text_field :chg2ay3, 
      { value: "#{@ipeds_ic_ay.chg2ay3}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:chg3ay3) %>
    <%= f.text_field :chg3ay3, 
      { value: "#{@ipeds_ic_ay.chg3ay3}", class: "form-control", required: true } %>
  </div>  

  <div class="form-group">
    <%= f.label(:chg4ay3) %>
    <%= f.text_field :chg4ay3, 
      { value: "#{@ipeds_ic_ay.chg4ay3}", class: "form-control", required: true } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>