<tr>
	<td><%= ipeds_ic_ay.id %></td>
  <td><%= ipeds_ic_ay.cross %></td>
  <td><%= ipeds_ic_ay.chg2ay3 %></td>
  <td><%= ipeds_ic_ay.chg3ay3 %></td>
  <td><%= ipeds_ic_ay.chg4ay3 %></td>
  <td>
    <%= link_to 'Show', ipeds_ic_ay %>
  </td>
    <td>
    <%= link_to 'Edit', edit_ipeds_ic_ay_path(ipeds_ic_ay) %>
  </td>
  <td>
  	<%= link_to 'Remove', ipeds_ic_ay, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>