<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>Ipeds Ic Ay</small></h2>
  
<div class="row">
  <div class="col-xs-3">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic_ay.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ipeds: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic_ay.cross %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Tuition in State: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic_ay.tuition_in_state %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Tuition Out of State: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic_ay.tuition_out_of_state %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Books: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic_ay.books %>
  </div>
</div>