<% if @preview_status.present? %>
  <%= turbo_stream.replace "preview_status" do %>
    <div id="preview_status">
      <aside class="alert alert-info">
        <%= @preview_status.current_progress.html_safe %>
      </aside>
    </div>
  <% end %>
<% end %>

<% if @preview_generation_completed %>
  <%= turbo_stream.replace "versions_table" do %>
    <%= render 'dashboards/versions_table', production_versions: @production_versions %>
  <% end %>

  <%= turbo_stream.replace "generate_version_buttons" do %>
    <%= render 'dashboards/generate_version_buttons', preview_versions: @preview_versions %>
  <% end %>

  <%= turbo_stream.remove "preview_status_poller" %>
<% end %>
