<% if @preview_status.present? %>
  <%= turbo_stream.replace "preview_status" do %>
    <div id="preview_status">
      <aside class="alert alert-info">
        <%= @preview_status.current_progress.html_safe %>
      </aside>
    </div>
  <% end %>
<% end %>

<% if @preview_generation_completed %>
  <%= turbo_stream.replace "versions" do %>
    <%= render partial: "dashboards/versions_table", locals: { production_versions: @production_versions } %>
  <% end %>

  <%= turbo_stream.remove "preview_status_poller" %>
<% end %>
