<%= form_for(@scorecard) do |f| %>
  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@scorecard.institution}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@scorecard.ope}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:cross, "IPEDS") %>
    <%= f.text_field :cross, 
      { value: "#{@scorecard.cross}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:insturl, "URL") %>
    <%= f.text_field :insturl, 
      { value: "#{@scorecard.insturl}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:pred_degree_awarded, "Predominant Degree") %>
    <%= f.text_field :pred_degree_awarded, 
      { value: "#{@scorecard.pred_degree_awarded}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:locale) %>
    <%= f.text_field :locale, 
      { value: "#{@scorecard.locale}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:undergrad_enrollment) %>
    <%= f.text_field :undergrad_enrollment, 
      { value: "#{@scorecard.undergrad_enrollment}", class: "form-control", required: false } %>
  </div>
  
  <div class="form-group">
    <%= f.label(:retention_all_students_ba, "Retention All Students (BA)") %>
    <%= f.text_field :retention_all_students_ba, 
      { value: "#{@scorecard.retention_all_students_ba}", class: "form-control", required: false } %>
  </div>
  
  <div class="form-group">
    <%= f.label(:retention_all_students_otb, "Retention All Students (OTB)") %>
    <%= f.text_field :retention_all_students_otb, 
      { value: "#{@scorecard.retention_all_students_otb}", class: "form-control", required: false } %>
  </div>
  
  <div class="form-group">
    <%= f.label(:salary_all_students) %>
    <%= f.text_field :salary_all_students, 
      { value: "#{@scorecard.salary_all_students}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:repayment_rate_all_students) %>
    <%= f.text_field :repayment_rate_all_students, 
      { value: "#{@scorecard.repayment_rate_all_students}", class: "form-control", required: false } %>
  </div>
  
  <div class="form-group">
    <%= f.label(:avg_stu_loan_debt, "Average Student Loan Debt") %>
    <%= f.text_field :avg_stu_loan_debt, 
      { value: "#{@scorecard.avg_stu_loan_debt}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:c150_4_pooled_supp) %>
    <%= f.text_field :c150_4_pooled_supp, 
      { value: "#{@scorecard.c150_4_pooled_supp}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:c200_l4_pooled_supp) %>
    <%= f.text_field :c200_l4_pooled_supp, 
      { value: "#{@scorecard.c200_l4_pooled_supp}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>