<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>Scorecard: <%= @scorecard.institution %></small></h2>
  
<div class="row">
  <div class="col-xs-3">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Institution: </strong>
  </div>
  <div class="col-xs-8">
    
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ope: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.ope %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ope6: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.ope6 %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>IPEDS: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.cross %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>URL: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.insturl %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Predominant Degree: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.pred_degree_awarded %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Locale: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.locale %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Undergrad Enrollment: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.undergrad_enrollment %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Retention All Students (BA): </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.retention_all_students_ba %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Retention All Students (OTB): </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.retention_all_students_otb %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Salary All Students: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.salary_all_students %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Repayment Rate All Students: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.repayment_rate_all_students %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Average Student Loan Debt: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.avg_stu_loan_debt %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>C150 4 Pooled Supp: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.c150_4_pooled_supp %>
  </div>
</div>


<div class="row">
  <div class="col-xs-3">
    <strong>C150 L4 Pooled Supp: </strong>
  </div>
  <div class="col-xs-8">
    <%= @scorecard.c150_l4_pooled_supp %>
  </div>
</div>




