<%= form_for(@ipeds_ic_py) do |f| %>
  <div class="form-group">
    <%= f.label(:cross) %>
    <%= f.text_field :cross, 
      { value: "#{@ipeds_ic_py.cross}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:chg1py3) %>
    <%= f.text_field :chg1py3,
      { value: "#{@ipeds_ic_py.chg1py3}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:books) %>
    <%= f.text_field :books,
      { value: "#{@ipeds_ic_py.books}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>