<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= issue.ipeds_hd.institution %></td>
  <td><%= issue.ipeds_hd.cross %></td>
  <td><%= issue.ipeds_hd.ope %></td>
  <td><%= issue.weam&.cross %></td>
  <td><%= issue.weam&.ope %></td>
  <td><%= issue.crosswalk&.cross %></td>
  <td><%= issue.crosswalk&.ope %></td>
</tr>