<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= issue.institution_name %></td>
  <td><%= issue.facility_code %></td>
  <td><%= issue.weam_ipeds %></td>
  <td><%= issue.weam_ope %></td>
  <td><%= issue.ipeds_hd_ipeds %></td>
  <td><%= issue.ipeds_hd_ope %></td>
  <td><%= issue.crosswalk_ipeds %></td>
  <td><%= issue.crosswalk_ope %></td>
</tr>