<tr>
	<td><%= complaint.id %></td>
  <td><%= complaint.facility_code %></td>
  <td><%= complaint.ope %></td>
  <td><%= complaint.ope6 %></td>
  <td><%= complaint.institution %></td>
  <td><%= complaint.status %></td>
  <td><%= complaint.closed_reason %></td>
  <td><%= complaint.issue %></td>
  <td>
    <%= link_to 'Show', complaint %>
  </td>
    <td>
    <%= link_to 'Edit', edit_complaint_path(complaint) %>
  </td>
  <td>
  	<%= link_to 'Remove', complaint, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>