<%= form_for(@complaint) do |f| %>
  <div class="form-group">
    <%= f.label(:facility_code) %>
    <%= f.text_field :facility_code, 
      { value: "#{@complaint.facility_code}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@complaint.ope}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@complaint.institution}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:status) %>
    <%= f.select(:status, options_for_select(Complaint::STATUSES, 
      selected: @complaint.status), 
      { include_blank: "Select Status" },
      { class: "form-control", required: true }) %>
  </div>

  <div class="form-group">
    <%= f.label(:closed_reason) %>
    <%= f.select(:closed_reason, options_for_select(Complaint::CLOSED_REASONS, 
      selected: @complaint.closed_reason), 
      { include_blank: "Select Closed Reason" },
      { class: "form-control", required: false }) %>
  </div>
  
  <div class="form-group">
    <%= f.label(:issue) %>
    <%= f.text_field :issue, 
      { value: "#{@complaint.issue}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>