<tr>
	<td><%= ipeds_hd.id %></td>
  <td><%= ipeds_hd.cross %></td>
  <td><%= ipeds_hd.vet_tuition_policy_url %></td>
  <td>
    <%= link_to 'Show', ipeds_hd %>
  </td>
    <td>
    <%= link_to 'Edit', edit_ipeds_hd_path(ipeds_hd) %>
  </td>
  <td>
  	<%= link_to 'Remove', ipeds_hd, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>