<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>Ipeds Hd: <%= @ipeds_hd.cross %></small></h2>
  
<div class="row">
  <div class="col-xs-3">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_hd.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ipeds: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_hd.cross %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Veterans Tuition Policy Url: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_hd.vet_tuition_policy_url %>
  </div>
</div>
