<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>ARF: <%= @p911_tf.institution %></small></h2>
  
<div class="row">
  <div class="col-xs-2">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @p911_tf.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Facility Code: </strong>
  </div>
  <div class="col-xs-8">
    <%= @p911_tf.facility_code %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Institution: </strong>
  </div>
  <div class="col-xs-8">
    <%= @p911_tf.institution %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Post 911 Tuition Fees: </strong>
  </div>
  <div class="col-xs-3">
    <%= @p911_tf.p911_tuition_fees %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Post 911 Recipients: </strong>
  </div>
  <div class="col-xs-3">
    <%= @p911_tf.p911_recipients %>
  </div>
</div>