<tr>
	<td><%= eight_key.id %></td>
  <td><%= eight_key.institution %></td>
  <td><%= eight_key.city %></td>
  <td><%= eight_key.state %></td>
  <td><%= eight_key.ope %></td>
  <td><%= eight_key.cross %></td>
  <td><%= eight_key.notes %></td>
  <td>
    <%= link_to 'Show', eight_key %>
  </td>
    <td>
    <%= link_to 'Edit', edit_eight_key_path(eight_key) %>
  </td>
  <td>
  	<%= link_to 'Remove', eight_key, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>