<%= form_for(@eight_key) do |f| %>
  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@eight_key.institution}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@eight_key.ope}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:cross, "Ipeds") %>
    <%= f.text_field :cross, 
      { value: "#{@eight_key.cross}", class: "form-control", required: false } %>
  </div>
    
  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>