<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= issue.institution %></td>
  <td><%= issue.addr %></td>
  <td><%= issue.city %></td>
  <td><%= issue.state %></td>
  <td><%= issue.zip %></td>
  <td><%= issue.ipeds %></td>
  <td><%= issue.ope %></td>
  <td><%= issue.facility_code %></td>
  <td><%= issue.match_type %></td>
</tr>
