<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= issue.weam.institution %></td>
  <td><%= issue.weam.facility_code %></td>
  <td><%= issue.weam.cross %></td>
  <td><%= issue.weam.ope %></td>
  <td><%= issue.ipeds_hd&.cross %></td>
  <td><%= issue.ipeds_hd&.ope %></td>
  <td><%= issue.crosswalk&.cross %></td>
  <td><%= issue.crosswalk&.ope %></td>
  <td>
    <%= link_to 'Edit', crosswalk_issues_partials_show_path(issue), class: "btn btn-warning" %>
  </td>
</tr>