<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12 ">

    <div class="row row-space-12">
      <div class="col-xs-12">
        <h2>Weams</h2>
        <table class="table table-hover table-condensed table-bordered table-responsive">
          <thead>
          <th>Name</th>
          <th>Full Address</th>
          <th>Full Physical Address</th>
          </thead>
          <tbody>
          <td><%= @issue.weam.institution %></td>
          <td><%= @issue.weam.address_values.join(', ') %></td>
          <td><%= @issue.weam.physical_address_values.join(', ') %></td>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row row-space-12">
      <div class="col-xs-12">
        <h2>IPEDS HD</h2>
        <% if @ipeds_hd_arr.any? %>
          <table class="table table-hover table-condensed table-bordered table-responsive">
            <thead>
            <th>Name</th>
            <th>Address</th>
            <th>OPE</th>
            <th>IPE</th>
            <th>Matching Score</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <% @ipeds_hd_arr.each do |iped| %>
              <tr>
                <td><%= iped["institution"] %></td>
                <td><%= [iped["addr"], iped["state"], iped["city"], iped["zip"]].compact.join(", ") %></td>
                <td><%= iped["ope"] %></td>
                <td><%= iped["cross"] %></td>
                <td><%= (iped["match_score"].to_f * 100).round(3) %>%</td>
                <td>
                  <%= form_with(url: crosswalk_issues_match_ipeds_hd_path) do %>
                    <input type="hidden" name="issue_id" value="<%= @issue.id %>" />
                    <input type="hidden" name="iped_id" value="<%= iped["id"] %>" />
                    <%= submit_tag( "Match", class: 'btn dashboard-btn-success', data: { confirm: "Are you sure?" })%>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No matches found.</p>
        <% end %>
      </div>
    </div>

  </div>

</div>