<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12 ">

    <div class="row row-space-12">
      <div class="col-xs-12">
        <h2>Weams</h2>
        <table class="table table-hover table-condensed table-bordered table-responsive">
          <thead>
            <th>Name</th>
            <th>Facility Code</th>
            <th>City</th>
            <th>State</th>
            <th>IPEDS</th>
            <th>OPE</th>
          </thead>
          <tbody>
            <td><%= @issue.weam.institution %></td>
            <td><%= @issue.weam.facility_code %></td>
            <td><%= @issue.weam.city %></td>
            <td><%= @issue.weam.state %></td>
            <td><%= @issue.weam.cross %></td>
            <td><%= @issue.weam.ope %></td>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row row-space-12">
      <div class="col-xs-12">
        <h2>IPEDS HD</h2>
        <table class="table table-hover table-condensed table-bordered table-responsive">
          <thead>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>IPEDS</th>
          <th>OPE</th>
          </thead>
          <tbody>
          <td><%= @issue.ipeds_hd&.institution %></td>
          <td><%= @issue.ipeds_hd&.city %></td>
          <td><%= @issue.ipeds_hd&.state %></td>
          <td><%= @issue.ipeds_hd&.cross %></td>
          <td><%= @issue.ipeds_hd&.ope %></td>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row row-space-12">
      <div class="col-xs-12">
        <h2>Crosswalk</h2>
      </div>
    </div>
    <div class="row row-space-12">
      <div class="col-xs-12">
        <%= form_with(url: "/crosswalk_issues/resolve", method: "post") do %>
          <input type="hidden" name="id" value="<%= @issue.id %>" />
          <table class="table table-hover table-condensed table-bordered table-responsive">
            <thead>
              <th>Name</th>
              <th>Facility Code</th>
              <th>City</th>
              <th>State</th>
              <th>IPEDS</th>
              <th>OPE</th>
              <th>NOTES</th>
            </thead>
            <tbody>
              <td>
                <% if @issue.crosswalk.present? && @issue.weam.institution != @issue.crosswalk.institution %>
                  <div class="weams_override"><del><%= @issue.crosswalk&.institution %></del></div>
                <% end %>
                <%= @issue.weam.institution %>
              </td>
              <td>
                <% if @issue.crosswalk.present? && @issue.weam.facility_code != @issue.crosswalk.facility_code %>
                  <div class="weams_override"><del><%= @issue.crosswalk&.facility_code %></del></div>
                <% end %>
                <%= @issue.weam.facility_code %>
              </td>
              <td>
                <% if @issue.crosswalk.present? && @issue.weam.city != @issue.crosswalk.city %>
                  <div class="weams_override"><del><%= @issue.crosswalk&.city %></del></div>
                <% end %>
                <%= @issue.weam.city %>
              </td>
              <td>
                <% if @issue.crosswalk.present? && @issue.weam.state != @issue.crosswalk.state %>
                  <div class="weams_override"><del><%= @issue.crosswalk&.state %></del></div>
                <% end %>
                <%= @issue.weam.state %>
              </td>
              <td>
                <%= text_field_tag(:cross, @issue.crosswalk&.cross) %>
              </td>
              <td>
                <%= text_field_tag(:ope, @issue.crosswalk&.ope) %>
              </td>
              <td>
                <%= text_field_tag(:notes, @issue.crosswalk&.notes) %>
              </td>
            </tbody>
          </table>

          <input
            type="button"
            id="set_from_ipeds"
            class="btn btn-info crosswalk_update"
            value="Update Crosswalk from WEAMS"
            cross="<%= @issue.weam.cross %>"
            ope="<%= @issue.weam.ope %>"
          />

          <input
            type="button"
            id="set_from_weams"
            class="btn btn-info crosswalk_update"
            <%= @issue.ipeds_hd.presence || 'disabled' %>
            value="Update Crosswalk from IPEDS"
            cross="<%= @issue.ipeds_hd&.cross %>"
            ope="<%= @issue.ipeds_hd&.ope %>"
          />

          <input type="button" id="clear_ipeds_ope" class="btn btn-info" value="Clear IPEDS/OPE" />

          <%= submit_tag("Update", class: 'btn btn-success') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
