<%= form_for(@p911_yr) do |f| %>
  <div class="form-group">
    <%= f.label(:facility_code) %>
    <%= f.text_field :facility_code, 
      { value: "#{@p911_yr.facility_code}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@p911_yr.institution}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:p911_yellow_ribbon, "Total Cost") %>
    <%= f.text_field :p911_yellow_ribbon, 
      { value: "#{@p911_yr.p911_yellow_ribbon}", class: "form-control", required: false } %>
  </div>
  
  <div class="form-group">
    <%= f.label(:p911_yr_recipients, "Number of YR Recipients (Trainees)") %>
    <%= f.text_field :p911_yr_recipients, 
      { value: "#{@p911_yr.p911_yr_recipients}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>