<%= form_for(@vsoc) do |f| %>
  <div class="form-group">
    <%= f.label(:facility_code) %>
    <%= f.text_field :facility_code, 
      { value: "#{@vsoc.facility_code}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@vsoc.institution}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:vetsuccess_name) %>
    <%= f.text_field :vetsuccess_name, 
      { value: "#{@vsoc.vetsuccess_name}", class: "form-control", required: false } %>
  </div>
  
  <div class="form-group">
    <%= f.label(:vetsuccess_email) %>
    <%= f.text_field :vetsuccess_email, 
      { value: "#{@vsoc.vetsuccess_email}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>