<tr>
	<td><%= vsoc.id %></td>
  <td><%= vsoc.facility_code %></td>
  <td><%= vsoc.institution %></td>
  <td><%= vsoc.vetsuccess_name %></td>
  <td><%= vsoc.vetsuccess_email %></td>
  <td>
    <%= link_to 'Show', vsoc %>
  </td>
    <td>
    <%= link_to 'Edit', edit_vsoc_path(vsoc) %>
  </td>
  <td>
  	<%= link_to 'Remove', vsoc, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>