<tr>
  <td><%= storage.csv_type %></td>
  <td><%= storage.csv %></td>
  <td><%= storage.created_at&.to_formatted_s(:long_ordinal) %></td>
  <td><%= storage.user&.email %></td>
  <td><%= storage.comment || '-' %></td>
  <td>

    <% if storage.data.present? %>
      <%= link_to 'Download', download_storage_path(storage.id),
        class: "btn dashboard-btn-success btn-xs", role: "button" %>
    <% else %>
      <a disabled="disabled" class="btn dashboard-btn-warning btn-xs", role="button" >
        Download
      </a>
    <% end %>
    <%= link_to 'Upload', edit_storage_path(storage.id),
      class: "btn dashboard-btn-success btn-xs", role: "button" %>
  </td>
</tr>
