<%= form_for(@mou) do |f| %>
  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@mou.ope}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution) %>
    <%= f.text_field :institution, 
      { value: "#{@mou.institution}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:status) %>
    <%= f.text_field :status, 
      { value: "#{@mou.status}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>