<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-grouo">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Remember Me
      </label>
    </div>
  <% end -%>

  <%= f.submit "Log in", class: "btn btn-primary btn-large" %>
  <%= link_to "Login with PIV or ID.me (Single Sign-on)", ENV['SAML_IDP_SSO_URL'], class: "btn btn-primary btn-large" %>
<% end %>

<%= render "devise/shared/links" %>
