<%= form_for(@sec702) do |f| %>
  <div class="form-group">
    <%= f.label(:state) %>
    <%= f.select(:state, 
      options_for_select(DS_ENUM::State.get_as_options, 
      selected: @sec702.state), 
      { include_blank: "Select a state" },
      { class: "form-control", required: true }) %>
  </div>

  <div class="form-group">
    <%= f.label(:sec_702) %>
    <%= f.select(:sec_702, 
      options_for_select([DS_ENUM::Truth.yes, DS_ENUM::Truth.no], 
      selected: @sec702.sec_702), 
      { include_blank: "Select yes or no" },
      { class: "form-control", required: false }) %>
  </div>
    
  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>