<tr>
	<td><%= sec702.id %></td>
  <td><%= sec702.state %></td>
  <td><%= sec702.sec_702 %></td>
  <td>
    <%= link_to 'Show', sec702 %>
  </td>
    <td>
    <%= link_to 'Edit', edit_sec702_path(sec702) %>
  </td>
  <td>
  	<%= link_to 'Remove', sec702, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>