<% csv_file = CsvFile.where(type: csv_type[1]).last_upload %>
<% storage = CsvStorage.find_by(csv_file_type: csv_file[0]) %>

<tr>
	<td><%= csv_type[0] + " Type" %></td>
	<td><%= csv_file.blank? ? "-" : csv_file.name %></td>
	<td><%= csv_file.blank? ? "-" : csv_file.humanize_date %></td>
  <td><%= link_to 'Upload', new_csv_file_path + URI.encode("?type=#{csv_type[1]}") %></td>
  <td><%= link_to 'Download', send_csv_file_path(csv_file) %></td>
</tr>