<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= ungeocodable.institution %></td>
  <td><%= ungeocodable.facility_code %></td>
  <td><%= ungeocodable.physical_address_1 %></td>
  <td><%= ungeocodable.physical_address_2 %></td>  
  <td><%= ungeocodable.physical_address_3 %></td>  
  <td><%= ungeocodable.physical_city %></td>
  <td><%= ungeocodable.physical_state %></td>
  <td><%= ungeocodable.physical_zip %></td>
  <td><%= ungeocodable.physical_country %></td>
  <td><%= ungeocodable.cross %></td>
  <td><%= ungeocodable.ope %></td>
</tr>

