<tr class="<%= 'success' if version.production? %>">
  <td><%= version.uuid %></td>
  <td><%= version.user.email %></td>
  <td><%= version.created_at.to_formatted_s(:long_ordinal) %></td>
  <td>
    <%= link_to 'Show GIBCT', version.gibct_link, target: "_blank",
        class: "btn btn-success btn-xs", role: "button" %>
    <% unless version.production? %>
      <%= link_to 'Download Export CSV', dashboard_export_path('Institution'),
          class: "btn btn-warning btn-xs", role: "button" %>
      <%= link_to 'Publish to Production', dashboard_push_path, method: :post,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-danger btn-xs",
          role: "button" %>
    <% end %>
  </td>
</tr>
