<tr class="<%= 'success' if version.production? %>">
  <td><%= version.number %></td>
  <td><%= version.uuid %></td>
  <td><%= version.user.email %></td>
  <td><%= version.created_at.to_formatted_s(:long_ordinal) %></td>
  <td>
    <% if version.generating? %>
      <div class="generating">
        Generating<i class="fa fa-gear fa-spin" style="font-size:24px"></i>
      </div>
    <% else %>
      <%= link_to 'Show GIBCT', version.gibct_link, target: "_blank",
          class: "btn btn-success btn-xs", role: "button" %>
        <%= link_to 'Download Export CSV', dashboard_export_version_path(version.number),
            class: "btn btn-warning btn-xs", role: "button" %>
      <% unless version.production? %>
        <% if version.publishable? %>
          <%= link_to 'Publish to Production', dashboard_push_path, method: :post,
              data: { confirm: "Are you sure you wish to publish preview version #{version.number} to production?" },
              class: "btn btn-danger btn-xs",
              role: "button" %>
          <% else %>
              <a class="btn btn-danger btn-xs" disabled role="button">Publish to Production</a>
          <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
