<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <h2>
      Institutions With No Accreditation
      <%= link_to 'Export', dashboard_export_unaccrediteds_path,
          class: "btn dashboard-btn-success btn-xs", role: "button" %>
    </h2>
    <div>
      Reasons for inclusion on this report:<br/>
        - accreditation types are determined by joining Institutions to AccreditationInstituteCampuses on ope<br/>
        - AccreditationInstituteCampuses are joined to AccreditationRecords on dapip_id<br/>
        - the AccreditationRecord must not have an accreditation_end_date and have a program_id of 1<br/>
        - the agency_name must contain one of the following keywords:<br/><br/>
           <% AccreditationTypeKeyword::ACCREDITATION_TYPES.each do |accreditation_type| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to 'Maintain', accreditation_type_keywords_path(accreditation_type: accreditation_type),
                  class: "btn dashboard-btn-success btn-xs", role: "button" %>
              <b><%= "#{accreditation_type}:" %></b>
              <%= "#{formatted_keywords(accreditation_type)}" %><br/><br/>
           <% end %>
        - if any of the above conditions are not met, the institution will appear on this report
    </div><br/>
    <table class="table table-hover table-condensed table-bordered table-responsive crosswalk-issues">
      <thead class="sub">
        <th>Institution Name</th>
        <th>Facility Code</th>
        <th>OPE</th>
        <th>Agency Name</th>
        <th>AR End Date</th>
      </thead>
      <tbody>
        <!-- rendering partials with collections doesn't play well with result sets from raw sql -->
        <% @unaccrediteds.each do |unaccredited| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td><%= unaccredited['institution'] %></td>
            <td><%= unaccredited['facility_code'] %></td>
            <td><%= unaccredited['ope'] %></td>
            <td><%= unaccredited['agency_name'] %></td>
            <td><%= unaccredited['accreditation_end_date'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
