<div class="panel panel-default">
  <div class="panel-heading">Build Versions</div>
  <div class="panel-body">
    <p>
      The data service provides two sets of data. One set is data provided to the GI Bill Comparison Tool (GIBCT) in
      production, while the other set is data provided to the GIBCT preview system. Additionally, each set contains
      multiple versions of this data. The version of data returned by default is the most recent version.
    </p>
  </div>
  <small>
    <table class="table table-hover table-condensed table-responsive">
      <thead>
        <th>Type</th>
        <th>Version</th>
        <th>Date</th>
        <th>By</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <tr>
          <td>Production</td>
          <td><%= @production_version.try(:version) || '-' %></td>
          <td><%= @production_version.try(:created_at) || '-' %></td>
          <td><%= @production_version.try(:user).try(:email) || '-' %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Preview</td>
          <td><%= @preview_version.try(:version) || '-' %></td>
          <td><%= @preview_version.try(:created_at) || '-' %></td>
          <td><%= @preview_version.try(:user).try(:email) || '-' %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </small>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Successful Uploads</h3>
        </div>
        <div class="panel-body">
          <small>
            <table class="table table-hover table-condensed table-bordered table-responsive">
              <thead>
                <th>Type</th>
                <th>Upload Date</th>
                <th>Uploaded By</th>
                <th>File Name</th>
                <th>Description</th>
                <th colspan="3">Actions</th>
              </thead>
              <tbody>
                <%= render partial: "upload", collection: @uploads, as: :csv_file %>
              </tbody>
            </table>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
