<div class="row row-space-6">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<h2>Latest Production Version</h2>
<div class="row row-space-6">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th width=7%>Version Number</td>
        <th width=23%>Version UUID</th>
        <th width=20%>Published By</th>
        <th width=20%>Published Date</th>
        <th width=30%>Actions</th>
      </thead>
      <tbody>
        <%= render partial: 'version', collection: @production_versions, as: :version %>
      </tbody>
    </table>
  </div>
</div>

<h2>Latest Preview Version</h2>
<div id="preview_dialog" title="Generate New Preview Version">
  <div id="preview_dialog_div">
    <p class="generate_preview_question">
      <b>Are you sure you want to create a new preview version?</b>
    </p>
    <% if @latest_uploads.length > 0 %>
      <p>Below are the CSVs that have been uploaded since last preview generation</p>
      <div class="generate_preview_table">
        <table class="table table-hover table-condensed table-bordered table-responsive">
          <thead>
            <th>CSV Type</th>
            <th>File Name</th>
            <th>Upload Date</th>
            <th>Uploaded By</th>
            <th>Comments</th>
          </thead>
          <tbody>
          <%= render partial: 'latest_upload_dialog', collection: @latest_uploads, as: :upload %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No new data files have been uploaded since the last preview generation</p>
      <br>
    <% end %>

    <div class="generate_preview_button_div">
      <%= link_to 'Generate New Preview Version', dashboard_build_path, method: :post,
                  class: "btn btn-warning",
                  role: "button",
                  id: "version_build"
      %>
    </div>
  </div>
</div>

<button id="preview_opener" class="btn dashboard-btn-warning btn-xs" <%= can_generate_preview(@preview_versions) %>>Generate New Preview Version</button>

<div class="row row-space-6" id="preview_versions">
    <div class="col-xs-12">
      <table class="table table-hover table-condensed table-bordered table-responsive">
        <thead>
          <th width=7%>Version Number</td>
          <th width=23%>Version UUID</th>
          <th width=20%>Created By</th>
          <th width=20%>Created Date</th>
          <th width=30%>Actions</th>
        </thead>
        <tbody>
          <%= render partial: 'version', collection: @preview_versions, as: :version if Version.previews_exist? %>
        </tbody>
      </table>
    </div>
</div>

<% if !production? %>
<%= render partial: 'crosswalk_issues' %>
<% end %>

<h2>Latest Uploads
  <%= link_to 'View Upload History', uploads_path, class: "btn dashboard-btn-info btn-xs", role: "button" %>
</h2>
<div class="row row-space-6" id="latest_uploads">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>CSV Type</th>
        <th>Status</th>
        <th>File Name</th>
        <th>Upload Date</th>
        <th>Uploaded By</th>
        <th>Comments</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'latest_upload', collection: @uploads, as: :upload %>
      </tbody>
    </table>
  </div>
</div>
