<div class="row row-space-6">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<% if production? %>
  <h2>Latest Live Version in Production</h2>
<% else %>
  <h2>Latest Live Version in Staging</h2>
<% end %>

<div class="row row-space-6">
  <div class="col-xs-12">
    <%= render 'versions_table', production_versions: @production_versions %>
  </div>
</div>

<div id="generate_version_buttons">
  <div data-controller="generate-version-modal">
    <%= render partial: "generate_version_modal" %>
    <button data-action="click->generate-version-modal#show"
            class="btn dashboard-btn-warning btn-xs"
            <%= can_generate_preview(@preview_versions) %>>
              Generate Version
    </button>
  </div>

  <% if generating_in_progress?(@preview_versions) && appears_to_be_stuck?(@preview_versions) %>
    &nbsp;&nbsp;
    <%= link_to 'Unlock', dashboard_unlock_generate_button_path, method: :post,
                class: "btn dashboard-btn-info btn-xs",
                role: "button",
                id: "unlock_generate-button"
    %>
    &nbsp;&nbsp;(Use this when Generate Version is stuck)
  <% end %>
</div>

<%= render partial: 'issues' %>

<h2>Latest Uploads
  <%= link_to 'View Upload History', uploads_path, class: "btn dashboard-btn-info btn-xs", role: "button" %>
  <% if locked_fetches_exist? %>
    <%= link_to 'Enable locked Fetches', unlock_fetches_path, class: "btn dashboard-btn-info dashboard-btn-aligned-right btn-xs", role: "button" %>
  <% end %>
</h2>
<div class="row row-space-6" id="latest_uploads">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>File Type</th>
        <th>Status</th>
        <th>File Name</th>
        <th>Upload Date</th>
        <th>Uploaded By</th>
        <th>Comments</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'latest_upload', collection: @uploads, as: :upload %>
      </tbody>
    </table>
  </div>
</div>