<div class="row row-space-6">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<% if production? %>
  <h2>Latest Live Version in Production</h2>
<% else %>
  <h2>Latest Live Version in Staging</h2>
<% end %>

<div class="row row-space-6">
  <div class="col-xs-12">
    <%= render 'versions_table', production_versions: @production_versions %>
  </div>
</div>

<div data-controller="generate-version-modal">
  <%= render partial: "generate_version_modal" %>
  <%= render "generate_version_buttons", preview_versions: @preview_versions %>
</div>

<%= render partial: 'issues' %>

<h2>Latest Uploads
  <%= link_to 'View Upload History', uploads_path, class: "btn dashboard-btn-info btn-xs", role: "button" %>
  <% if locked_fetches_exist? %>
    <%= link_to 'Enable locked Fetches', unlock_fetches_path, class: "btn dashboard-btn-info dashboard-btn-aligned-right btn-xs", role: "button" %>
  <% end %>
</h2>
<div class="row row-space-6" id="latest_uploads">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>File Type</th>
        <th>Status</th>
        <th>File Name</th>
        <th>Upload Date</th>
        <th>Uploaded By</th>
        <th>Comments</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'latest_upload', collection: @uploads, as: :upload %>
      </tbody>
    </table>
  </div>
</div>