<div class="row row-space-6">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<h3>Latest Production Version</h3>
<div class="row row-space-6">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th width=7%>Version ID</td>
        <th width=23%>Version UUID</th>
        <th width=20%>Published By</th>
        <th width=20%>Published Date</th>
        <th width=30%>Actions</th>
      </thead>
      <tbody>
        <%= render partial: 'version', collection: @production_versions, as: :version %>
      </tbody>
    </table>
  </div>
</div>

  <h3>Latest Preview Version
    <div id="preview_dialog" title="Generate New Preview Version">
      <div id="preview_dialog_div">
        <p><%= generate_preview_confirm %></p>
        <%= link_to 'Generate New Preview Version', dashboard_build_path, method: :post,
                    class: "btn btn-warning btn-xs",
                    role: "button",
                    id: "version_build"
        %>
      </div>
    </div>

    <button id="preview_opener" class="btn btn-warning btn-xs">Generate New Preview Version</button>
  </h3>
  <div class="row row-space-6" id="preview_versions">
      <div class="col-xs-12">
        <table class="table table-hover table-condensed table-bordered table-responsive">
          <thead>
            <th width=7%>Version ID</td>
            <th width=23%>Version UUID</th>
            <th width=20%>Created By</th>
            <th width=20%>Created Date</th>
            <th width=30%>Actions</th>
          </thead>
          <tbody>
            <%= render partial: 'version', collection: @preview_versions, as: :version if Version.previews_exist? %>
          </tbody>
        </table>
      </div>
  </div>

<h3>Latest Uploads
  <%= link_to 'View Upload History', uploads_path, class: "btn btn-info btn-xs", role: "button" %>
</h3>
<div class="row row-space-6">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>CSV Type</th>
        <th>Status</th>
        <th>File Name</th>
        <th>Upload Date</th>
        <th>Uploaded By</th>
        <th>Comments</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'latest_upload', collection: @uploads, as: :upload %>
      </tbody>
    </table>
  </div>
</div>
