<tr class="success">
  <td><%= version.number %></td>
  <td><%= version.uuid %></td>
  <td><%= version.user.email %></td>
  <td><%= version.created_at.to_formatted_s(:long_ordinal) %></td>
  <td>
      <%= link_to 'Download Export CSV', archives_export_path('InstitutionsArchive',version.number),
          class: "btn btn-warning btn-xs", role: "button" %>
  </td>
</tr>
