<tr>
	<td><%= raw_file_source.id %></td>
	<td><%= raw_file_source.name %></td>
  <td><%= link_to 'Show', raw_file_source %></td>
  <td><%= link_to 'Edit', edit_raw_file_source_path(raw_file_source) %></td>
  <td><%= link_to 'Destroy', raw_file_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>