<% raw_file = raw_file_source.raw_files.try(:last) %>

<tr>
	<td><%= raw_file_source.id %></td>
	<td><%= raw_file_source.name %></td>
	<td><%= raw_file_source.build_order %></td>
	<td>
		<%= raw_file.present? ? link_to(raw_file.name, raw_file_path(raw_file)) : "-" %>
	</td>
	<td><%= raw_file.try(:upload_date).try(:strftime, "%B %d, %Y") || "-" %></td>
	<td><%= raw_file.present? ? raw_file.is_valid.to_s.capitalize : "-" %></td>
  <td><%= link_to 'Show', raw_file_source %></td>
  <td><%= link_to 'Edit', edit_raw_file_source_path(raw_file_source) %></td>
  <td><%= link_to 'Destroy', raw_file_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>