<div class="row">
	<div class="col-xs-8">
		This are the allowed raw file sources for the GIBCT. These sources reflect
		the various sources from which the GIBCT data is derived, for example:
		WEAMS.
	</div>

	<div class="col-xs-4">
		<div class="row row-space-10">
			<div class="col-xs-12">
				<%= link_to 'List Raw File Sources', raw_file_sources_path, 
					class: "btn btn-success btn-xs", role: "button" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">		
				<%= link_to "Edit #{@raw_file_source.name}", 
					edit_raw_file_source_path(@raw_file_source), 
					class: "btn btn-primary btn-xs", role: "button" %>
			</div>
		</div>
	</div>
</div>

<h2><small>Raw File Source: <%= @raw_file_source.name %></small></h2>

<div class="row">
	<div class="col-xs-2">
		<strong>Id: </strong>
	</div>
	<div class="col-xs-3">
		<%= @raw_file_source.id %>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<strong>Name: </strong>
	</div>
	<div class="col-xs-3">
		<%= @raw_file_source.name %>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<strong>Build Order: </strong>
	</div>
	<div class="col-xs-3">
		<%= @raw_file_source.build_order %>
	</div>
</div>