<%= form_for(@accreditation) do |f| %>
  <div class="form-group">
    <%= f.label(:institution_name) %>
    <%= f.text_field :institution_name, 
      { value: "#{@accreditation.institution_name}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:campus_name) %>
    <%= f.text_field :campus_name, 
      { value: "#{@accreditation.campus_name}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:ope) %>
    <%= f.text_field :ope, 
      { value: "#{@accreditation.ope}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:institution_ipeds_unitid, "Institution Ipeds") %>
    <%= f.text_field :institution_ipeds_unitid, 
      { value: "#{@accreditation.institution_ipeds_unitid}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:campus_ipeds_unitid, "Campus Ipeds") %>
    <%= f.text_field :campus_ipeds_unitid, 
      { value: "#{@accreditation.campus_ipeds_unitid}", class: "form-control", required: false } %>
  </div>

  <div class="form-group">
    <%= f.label(:agency_name) %>
    <%= f.text_field :agency_name, 
      { value: "#{@accreditation.agency_name}", class: "form-control", required: true } %>
  </div>

  <div class="form-group">
    <%= f.label(:csv_accreditation_type) %>
    <%= f.select(:csv_accreditation_type, options_for_select(Accreditation::CSV_ACCREDITATION_TYPES, 
      selected: @accreditation.csv_accreditation_type), 
      { include_blank: "Select Csv Accredtiation Type" },
      { class: "form-control", required: false }) %>
  </div>
  
  <div class="form-group">
    <%= f.label(:accreditation_status) %>
    <%= f.select(:accreditation_status, options_for_select(Accreditation::LAST_ACTIONS, 
      selected: @accreditation.accreditation_status), 
      { include_blank: "Select Status" },
      { class: "form-control", required: false }) %>
  </div>
  
  <div class="form-group">
    <%= f.label(:periods) %>
    <%= f.text_field :periods, 
      { value: "#{@accreditation.periods}", class: "form-control", required: false } %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>