<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>Accreditation</small></h2>
  
<div class="row">
  <div class="col-xs-3">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Institution Name: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.institution_name %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Campus Name: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.campus_name %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Institution: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.institution %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ope: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.ope %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ope 6: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.ope6 %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Institution Ipeds: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.institution_ipeds_unitid %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Campus Ipeds: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.campus_ipeds_unitid %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Ipeds: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.cross %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Association Type: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.csv_accreditation_type %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Agency Name: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.agency_name %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Accreditation Status: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.accreditation_status %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <strong>Periods: </strong>
  </div>
  <div class="col-xs-8">
    <%= @accreditation.periods %>
  </div>
</div>


