<div class="row">
  <div class="col-xs-offset-1 col-xs-7">
    <%= form_for(@upload, multipart: true) do |f| %>
      <% if @upload.csv_type.nil? %>
        <%= render partial: 'csv_type_select', locals: { f: f } %>
      <% else %>
        <%= render partial: 'csv_type_static', locals: { upload: @upload, f: f } %>
      <% end %>

      <div class="form-group">
        <%= f.label(:skip_lines_before_header, for: "upload_skip_lines") %><br />
        <%= f.text_field(:skip_lines) %>
      </div>

      <div class="form-group">
        <%= f.label(:upload_file) %>
        <p class="help-block">Valid file formats include: .txt, .csv</p>
        <%= f.file_field(:upload_file, class: "form-control", required: true, accept: "text/csv, text/plain") %>
      </div>

      <div class="form-group">
        <%= f.label(:comment) %><br />
        <%= f.text_field(:comment, style: 'width: 100%') %>
      </div>

      <div class="actions">
        <%= link_to "Cancel", uploads_path, class: "btn btn-default" %>
        <%= f.submit "Upload", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
