<ol>
  <% if @requirements&.any? %>
    <% @requirements.map do |requirement | %>
      <li>
        <%= requirement[:message] %>
          <ul>
            <% requirement[:value].each do |value|  %>
              <li><%= value.humanize.downcase %></li>
            <% end %>
          </ul>
      </li>
    <% end %>
  <%end%>

  <% if @inclusion&.any? %>
    <% @inclusion.map do |col | %>
      <li>
        The <strong><%="\""+col[:message].humanize.downcase+"\""%></strong> column data must be one of these values:
          <ul>
            <%col[:value].each do |attributes|%>
            <li><%=attributes%></li>
            <%end%>
          </ul>
      </li>
    <% end %>
  <% end %>


  <% if @custom_batch_validator&.any? %>
      <li>
        Requirement Description:
        <ul>
          <%  @custom_batch_validator.map do |batch| %>
            <li><%=batch%></li>
          <%end%>
        </ul>
      </li>
  <% end %>

</ol>
