<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<div class="container" style="float: left;">
  <div class="row">
    <div class="col-xs-8">
      <%= render 'form' %>
    </div>
    <% if @requirements&.any? %>
      <div class="col-xs-4">
        <div class="alert alert-info" role="alert">
          <% CSV_TYPES_ALL_TABLES.map(&:name) do |x| %>
          <h4 class="alert-heading"><%=x%> Data Requirements</h4><br />
          <ol>
            <% @requirements.each do |requirement | %>
              <li>
                <%= requirement[:message] %>
                <ul>
                  <% requirement[:value].each do |value|  %>
                  <li><%= "\""+ value +"\"" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  </div>
</div>
