<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<div class="row row-space-6">
  <div class="col-xs-2">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Type: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.csv_type %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Source File: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.csv %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Upload Status: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.ok? ? 'succeeded' : 'failed' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Uploaded By: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.user.email %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Uploaded On: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.created_at.strftime('%b %e, %Y %H:%M:%S') %>
  </div>
</div>

<div class="row" style="padding-bottom: 20px">
  <div class="col-xs-2">
    <strong>Comments: </strong>
  </div>
  <div class="col-xs-3">
    <%= @upload.comment %>
  </div>
</div>

<div class="container" style="float: left;">
  <div class="row">
    <div class="col-xs-8">
     
    </div>
        <% if @requirements&.any? %>
    <div class="col-xs-4">  
      <div class="alert alert-info" style="margin-top: -11em;" role="alert">
        <h4 class="alert-heading"><%= @upload.csv_type.titleize %> File Data Requirements</h4><br />      
          <ol>
            <% @requirements.map do |requirement | %>
              <li>
                <%= requirement[:message] %>
                  <ul>
                    <% requirement[:value].each do |value|  %>
                      <li><%= value.humanize %></li>
                    <% end %>
                  </ul>
              </li>
            <% end %>
          <%end%>
       <% @inclusion.map do |columns | %>
                <%columns.each do |col| %>
                <li> 
                  The <strong><%="\""+col[:message].humanize.downcase+"\""%></strong> column data must be one of these values:
                    <ul>
                      <%col[:value].each do |attributes|%>
                      <li><%=attributes%></li>
                      <%end%>
                    </ul>
                </li>
              <%end%>
            <% end %>
          <%  @custom_batch_validator.map do |batch| %>
            <li>
              <%= batch[:message] %>
              <ul>
              <% if batch[:value].present?%>
                <% batch[:value].each do |value| %>
                <li><%=value%></li>
                <% end %> 
              <%end%>
              </ul>
            </li>
          <% end %>       
          </ol>
        </div>
    </div>
  </div>
</div>
