<tr>
	<td><%= ipeds_ic.id %></td>
  <td><%= ipeds_ic.cross %></td>
  <td><%= ipeds_ic.vet2 %></td>
  <td><%= ipeds_ic.credit_for_mil_training %></td>
  <td><%= ipeds_ic.vet3 %></td>
  <td><%= ipeds_ic.vet_poc %></td>
  <td><%= ipeds_ic.vet4 %></td>
  <td><%= ipeds_ic.student_vet_grp_ipeds %></td>
  <td><%= ipeds_ic.vet5 %></td>
  <td><%= ipeds_ic.soc_member %></td>
  <td><%= ipeds_ic.calsys %></td>
  <td><%= ipeds_ic.calendar %></td>
  <td><%= ipeds_ic.distnced %></td>
  <td><%= ipeds_ic.online_all %></td>
  
  <td>
    <%= link_to 'Show', ipeds_ic %>
  </td>
    <td>
    <%= link_to 'Edit', edit_ipeds_ic_path(ipeds_ic) %>
  </td>
  <td>
  	<%= link_to 'Remove', ipeds_ic, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>