<%= render partial: 'introduction', 
    locals: { 
      new_link: false, edit_link: true, 
      list_link: true, destroy_link: true
    } 
%>

<h2><small>Ipeds IC</small></h2>
  
<div class="row">
  <div class="col-xs-2">
    <strong>Id: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic.id %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Ipeds: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic.cross %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Vet2: </strong>
  </div>
  <div class="col-xs-3">
    <%= @ipeds_ic.vet2 %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Vet3: </strong>
  </div>
  <div class="col-xs-3">
    <%= @ipeds_ic.vet3 %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Vet4: </strong>
  </div>
  <div class="col-xs-3">
    <%= @ipeds_ic.vet4 %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Vet5: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic.vet5 %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Calsys: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic.calsys %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <strong>Distnced: </strong>
  </div>
  <div class="col-xs-8">
    <%= @ipeds_ic.distnced %>
  </div>
</div>