<% csv = Rails.root.join('data', raw_file.name) %>

<tr>
	<td><%= raw_file.id %></td>
	<td><%= raw_file.name %></td>
	<td><%= raw_file.raw_file_source.name %></td>
	<td><%= raw_file.upload_date.strftime("%B %d, %Y") %></td>
	<td><%= raw_file.is_valid %></td>

  <td>
  	<%= link_to 'Show', raw_file %>
  </td>
  <td>
  	<%= link_to 'Edit', edit_raw_file_path(raw_file) %>
  </td>
  <td>
  	<%= link_to 'Destroy', raw_file, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
  <td>
  	<% if File.exist?(csv) %>
  		<%= link_to 'Download', send_csv_file_raw_file_path(raw_file) %>
  	<% end %>
  </td>
</tr>