<%= form_for(@csv_file, multipart: true) do |f| %>
  <div class="form-group">
    <%= f.label(:type) %>
    <%= f.select(:type, options_for_select(CsvFile.types, 
      selected: @csv_file.type), 
      { include_blank: "Select File Type" },
    	{ class: "form-control", required: true }) %>
  </div>

  <div class="form-group">
    <%= f.label(:delimiter) %>
    <%= f.select(:delimiter, 
      options_for_select([['comma ,', ','], ['pipe |', '|'], ['space " "', ' ']], 
      selected: @csv_file.delimiter), 
      { include_blank: "Select Delimiter" },
      { class: "form-control", required: true }) %>
  </div>

  <div class="form-group">
    <%= f.label(:upload, "Upload (*.csv, *.txt)") %>
    <%= f.file_field(:upload, class: "form-control", 
      required: true, accept: "text/csv, text/plain") %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", csv_files_path, class: "btn btn-default" %>  
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>