<h2>CSV File Upload</h2>
<%= form_for @csv_file, class: 'form' do |f| %>
  <%= f.hidden_field :csv_type, value: @csv_file.csv_type %>

  <div class="form-group">
    <label for="csv_file_user" class="control-label">User</label>
    <input type="text" id="csv_file_user" class="form-control" disabled value="<%= @csv_file.user %>" />
  </div>

  <div class="form-group">
    <label for="csv_file_csv_type" class="control-label control-space">CSV File Type</label>
    <% if @csv_file.csv_type.blank? %>
      <%=
        f.select :csv_type, options_for_select(CsvFile::TYPES.map(&:to_s)),
                            { prompt: 'Select a CSV Type' },
                            { class: 'form-control', required: true }
      %>
    <% else %>
      <input type=text id="csv_file_csv_type" class="form-control" disabled value="<%= @csv_file.csv_type %>" />
    <% end %>
  </div>

  <div class="form-group">
    <label for="csv_file_description" class="control-label control-space">Description</label>
    <%= f.text_field :description, placeholder: 'Enter an Optional Description', class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="csv_file_skip_lines_before_header" class="control-label control-space">
      Skip Lines Before Header
    </label>
    <%=
      f.text_field :skip_lines_before_header, placeholder: @csv_file.skip_lines_before_header,
                                              class: 'form-control', type: 'number', min: '0', step: '1'
    %>
  </div>

  <div class="form-group">
    <label for="csv_file_skip_lines_after_header" class="control-label control-space">
      Skip Lines After Header
    </label>
    <%=
      f.text_field :skip_lines_after_header, placeholder: @csv_file.skip_lines_after_header,
                                             class: 'form-control', type: 'number', min: '0', step: '1'
    %>
  </div>

  <div class="form-group">
    <label for="csv_file_delimiter" class="control-label control-space">Delimiter</label>
    <%=
      f.select :delimiter, options_for_select(CsvFile::DELIMITERS),
                          { prompt: 'Select a Delimiter' }, { class: 'form-control', required: true }
    %>
  </div>

  <div class="form-group">
    <label for="csv_file_upload_file" class="control-label control-space">File (*.csv, *.txt)</label>
    <%= f.file_field :upload_file, class: 'form-control btn-xs', required: true, accept: 'text/csv, text/plain' %>
  </div>

  <div class="actions control-space">
    <%= link_to 'Cancel', csv_files_path, class: "btn btn-default" %>
    <%= f.submit 'Upload', class: "btn btn-primary" %>
  </div>
<% end %>
