<tr>
  <td><%= constant.name %></td>
  <td data-action="click->constants-form#enableEditing focusout->constants-form#disableEditing">
    <p class="constant-description"><%= constant.description %></p>
    <textarea class="form-control"
              style="display: none"
              name="calculator_constants[<%= constant.id %>][description]"><%= constant.description %></textarea>
  </td> 
  <td>
  <%= render partial: "calculator_constants/rate_adjustment_select",
             locals: { rate_adjustments: @rate_adjustments, constant: } %>
  </td>
  <td style="background-color: #f5f5f5; color: #767676;">
    <%= display_value_for(@previous_constants.index_by(&:name)[constant.name]) %>
  </td>
  <td>
    <input type="number"
           class="form-control"
           required
           name="calculator_constants[<%= constant.id %>][float_value]"
           id=<%= constant.name %>
           step=<%= step_value_for(constant) %>
           value=<%= display_value_for(constant) %>
           <% unless year_value?(constant) %>
             data-action="blur->constants-form#formatInput"
           <% end %>/>
  </td>
</tr>
