<tr>
  <td width="auto"><%= constant.name %></td>
  <td data-action="click->constants-form#enableEditing focusout->constants-form#disableEditing">
    <p class="constant-description"><%= constant.description %></p>
    <textarea class="form-control"
              style="display: none"
              name="calculator_constants[<%= constant.id %>][description]"><%= constant.description %></textarea>
  </td> 
  <td width="auto">
    <select name="calculator_constants[<%= constant.id %>][rate_adjustment_id]">
          <% if constant.benefit_type.nil? %>
            disabled
            selected
            data-action="mouseenter->constants-form#enableSelect mouseout->constants-form#disableSelect"
          <% end %>>
      <option value=""></option>
      <% @rate_adjustments.each do |rate| %>
        <option value=<%= rate.id %> <%= "selected" if constant.rate_adjustment == rate %>><%= rate.chapterize %></option>
      <% end %>
    </select>
  </td>
  <td width="auto" style="background-color: #f5f5f5;">
    <%= @previous_constants.index_by(&:name)[constant.name]&.float_value %>
  </td>
  <td width="auto">
    <input type="number"
            class="form-control"
            required
            name="calculator_constants[<%= constant.id %>][float_value]"
            id=<%= constant.name %>
            step=<%= step_value_for(constant) %>
            value=<%= display_value_for(constant) %> />
  </td>
</tr>
