<%= turbo_stream_from "cost_of_living_adjustments" %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<%= form_with(url: cost_of_living_adjustments_path,
              id: "cost_of_living_adjustments_update",
              data: { controller: "colas-form", action: 'turbo:submit-end->colas-form#toggleForm' }) do %>
  <div class="panel panel-default">
    <div class="panel-heading" data-colas-form-target="heading">
      <div>Cost of Living Adjustments</div>
      <div class="colas-btns">
        <%= button_tag "Edit",
                        type: "button",
                        class: "btn cola-edit",
                        data: { action: "click->colas-form#toggleForm", colas_form_target: "editButton" } %>
        <%= button_tag type: "submit",
                       class: "btn cola-save",
                       disabled: "true",
                       data: { colas_form_target: "updateButton" } do %>
            <span class="glyphicon glyphicon-ok"></span>   
        <% end %>
        <%= button_tag type: "button",
                       class: "btn cola-cancel",
                       disabled: "true",
                       data: { action: "click->colas-form#cancel", colas_form_target: "updateButton" } do %>
         <span class="glyphicon glyphicon-remove"></span>   
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <div class="cola-list-div">
        <% @cost_of_living_adjustments.each do |cola| %>
          <div class="cola-div">
            <%= label_tag "ch#{cola.benefit_type}", "Ch. #{cola.benefit_type}"%></label>
            <input type="number"
                   min="0.00"
                   step="0.01"
                   required
                   disabled
                   id=<%= "ch#{cola.benefit_type}" %>
                   name=<%= "cost_of_living_adjustments[#{cola.benefit_type}]"%>
                   data-colas-form-target="input"
                   value=<%= cola.rate %> />
            <span>%</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
