<%= form_with(url: cost_of_living_adjustments_path,
              id: "cost_of_living_adjustments_update",
              data: { action: "turbo:submit-end->colas-form#toggleForm",
                      colas_form_target: "form" }) do %>
  <div class="panel panel-default">
    <div class="panel-heading" data-colas-form-target="heading">
      <div>Cost of Living Adjustments</div>
      <div class="colas-btns">
        <%= button_tag "Edit",
                        type: "button",
                        class: "btn cola-edit",
                        data: { action: "click->colas-form#toggleForm", colas_form_target: "editButton" } %>
        <%= button_tag type: "submit",
                      class: "btn cola-save",
                      disabled: "true",
                      data: { colas_form_target: "updateButton" } do %>
            <span class="glyphicon glyphicon-ok"></span>   
        <% end %>
        <%= button_tag type: "button",
                      class: "btn cola-cancel",
                      disabled: "true",
                      data: { action: "click->colas-form#cancel", colas_form_target: "updateButton" } do %>
        <span class="glyphicon glyphicon-remove"></span>   
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <div id="colas-alert">
        <aside class="alert alert-warning" data-colas-form-target="warning" hidden>
          Please save or discard changes to Cost of Living Adjustments before updating Calculator Constants.
        </aside>
      </div>
      <div id="colas-list">
        <%= render partial: "cost_of_living_adjustment", collection: @cost_of_living_adjustments, as: :cola %>
      </div>
    </div>
  </div>
<% end %>
