<div class="panel panel-default" id="rate-adjustments-form">
  <%= form_with(url: rate_adjustments_path,
            id: "rate_adjustments_update",
            data: { rates_form_target: "form", state: "viewing" }) do %>
    <div class="panel-heading" data-rates-form-target="heading">
      <div>Rate Adjustments</div>
      <div class="rates-btns">
        <%= button_tag "Edit",
                        type: "button",
                        class: "btn rate-edit",
                        data: { action: "click->rates-form#toggleForm", rates_form_target: "editButton" } %>
        <%= button_tag "Save",
                       type: "submit",
                       class: "btn rate-save",
                       disabled: "true",
                       data: { rates_form_target: "updateButton" } %>
        <%= button_tag "Cancel",
                       type: "button",
                       class: "btn rate-cancel",
                       disabled: "true",
                       data: { action: "click->rates-form#cancel", rates_form_target: "updateButton" } %>
      </div>
    </div>
    <div class="panel-body">
      <div id="rates-alert">
        <aside class="alert alert-warning hidden" data-rates-form-target="warning">
          Please save or discard changes to Rate Adjustments before updating Calculator Constants.
        </aside>
      </div>
      <div id="rates-list">
        <%= render partial: "calculator_constants/rate_adjustment", collection: @rate_adjustments %>
      </div>
    </div>
  <% end %>
  <div class="panel-footer hidden"
       id="rate_adjustments_add_remove"
       data-rates-form-target="footer">
    <%= button_tag type: :button,
                   class: "add-remove",
                   data: { action: "click->rates-form#toggleAddRemove",
                           rates_form_target: "addRemoveButton" } do %>
      <small>Add/Remove Rate Adjustments</small>
    <% end  %>
    <%= render partial: "calculator_constants/build_rate_adjustment_form" %>
  </div>
</div>
