<div class="row row-space-6">
  <div class="col-md-10">
    <div class="calculator_constants_header">
      <h3>Manage Calculator Constants</h3>
      <span class="dashboard-header">The constants below are used by CT for various benefit calculations</span>
    </div>
    <div>
      <%= form_with(url: calculator_constants_update_path, id: 'calculator_constants_update') do %>
    <table class="table table-hover table-condensed table-bordered table-responsive">
        <thead class="sub">
          <th>Name</th>
          <th>Description</th>
          <th>Value</th>
        </thead>
        <tbody>
            <% @calculator_constants.each do |constant| %>
              <tr>
                <td> <%= constant.name %></td>
                <td>
                  <% if constant.description %>
                    <%= constant.description %>
                  <% else %>
                    TBD
                  <% end %>
                </td>
                <td> <%= number_field_tag constant.name,constant.value, class: "form-control", step: 0.01, required: true%></td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <div>
        <%= link_to 'Cancel', dashboards_path, class: "btn dashboard-btn-danger" %>
        <%= submit_tag("Save", class: 'btn dashboard-btn-success') %>
      </div>
      <% end %>
    </div>
  </div>
</div>


