<div class="row row-space-6"
     data-controller="rates-form constants-form apply-rates-modal export-constants-modal"
     data-action="turbo:load->rate-form#reset"
     data-apply-rates-modal-base-url-value="<%= format_url("/calculator_constants/apply_rate_adjustments") %>">
  <div class="col-md-8">
    <% if @constants_unpublished %>
      <aside class="alert alert-warning">
        There are unpublished changes to Calculator Constants. To apply these changes, generate a new version from the dashboard.
      </aside>
    <% end %>
    <% if flash[:success].present? %>
      <aside class="alert alert-success" data-turbo-temporary="true">
        <% if flash[:success][:message].present? %>
          <p><%= flash[:success][:message] %></p>
        <% else %>
          <div class="errors">
            <% if flash[:success][:message].present? %>
              <p><%= flash[:success][:message] %></p>
            <% else %>
              <p>The following calculator constants have been updated: </p>
              <ul>
                <% flash[:success][:updated_fields].each do |field| %>
                  <li><%= field %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end%>
      </aside>
    <% end %>
    <%= render partial: "rate_adjustments_form" %>
    <%= render partial: "apply_rates_modal" %>
    <%= render partial: "export_constants_modal" %>
    <%= render partial: "constants_form" %>
  </div>
</div>
