<div class="row row-space-6" data-controller="colas-form constants-form">
  <div class="col-md-8">
    <% if flash[:success].present? %>
      <aside class="alert alert-success">
        <% if flash[:success][:message].present? %>
          <p><%= flash[:success][:message] %></p>
        <% else %>
          <div class="errors">
            <% if flash[:success][:message].present? %>
              <p><%= flash[:success][:message] %></p>
            <% else %>
              <p>The following calculator constants have been updated: </p>
              <ul>
                <% flash[:success][:updated_fields].each do |field| %>
                  <li><%= field %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end%>
      </aside>
    <% end %>
    <%= render partial: "colas_form" %>
    <%= render partial: "constants_form" %>
  </div>
</div>

