<!DOCTYPE html>
<html lang="en">
<head>
  <title>GibctDataService</title>
	<%#= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', nonce: '**CSP_NONCE**' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>
	<%= render 'layouts/messages' %>
  <%= render '/layouts/header' %>

	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
