<!DOCTYPE html>
<html lang="en">
<head>
  <title>GibctDataService</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Load legacy Sprockets assets (e.g. jQuery, Bootstrap) -->
  <!-- TO DO: convert legacy jquery to hotwire stimulus -->
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', nonce: '**CSP_NONCE**' %>

  <!-- Load modern ES6 modules via Importmap (e.g. Stimulus controllers) -->
  <!-- override default 'application.js' with 'main.js' to avoid name-collision with legacy app/assets/javascripts/application.js -->

  <!-- Manually write importmap scripts with nonce -->
  <script type="importmap" data-turbo-track="reload" nonce="**CSP_NONCE**">
    {
      "imports": {
        "main": "<%= asset_path('main.js') %>",
        "@hotwired/stimulus": "<%= asset_path('@hotwired--stimulus.js') %>",
        "@hotwired/turbo-rails": "<%= asset_path('@hotwired--turbo-rails.js') %>",
        "@hotwired/turbo": "<%= asset_path('@hotwired--turbo.js') %>",
        "@rails/actioncable/src": "<%= asset_path('@rails--actioncable--src.js') %>"
      }
    }
  </script>
  <link rel="modulepreload" href="<%= asset_path('main.js') %>">
  <link rel="modulepreload" href="<%= asset_path('@hotwired--stimulus.js') %>">
  <link rel="modulepreload" href="<%= asset_path('@hotwired--turbo-rails.js') %>">
  <link rel="modulepreload" href="<%= asset_path('@hotwired--turbo.js') %>">
  <link rel="modulepreload" href="<%= asset_path('@rails--actioncable--src.js') %>">

  <script type="module" nonce="**CSP_NONCE**">import "main"</script>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>
	<%= render 'layouts/messages' %>
  <%= render '/layouts/header' %>

	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>