<!DOCTYPE html>
<html lang="en">
<head>
  <title>GibctDataService</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Load legacy Sprockets assets (e.g. jQuery, Bootstrap) -->
  <!-- TO DO: convert legacy jquery to hotwire stimulus -->
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', nonce: '**CSP_NONCE**' %>

  <!-- Load modern ES6 modules via Importmap (e.g. Stimulus controllers) -->
  <!-- Override default 'application.js' with 'main.js' to avoid name-collision with legacy app/assets/javascripts/application.js -->
  <%= javascript_importmap_tags_with_nonce %>

  <%= csrf_meta_tags %>
</head> 
<body>
	<%= render 'layouts/navbar' %>
  <%= render 'layouts/messages' %>
  <%= render '/layouts/header' %>

	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>